.btn-info {
   font-size:25px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-success:hover{
    background-color: darkred;
}

canvas{
    animation-name:moon;
    animation-duration:3s;
    animation-iteration-count: infinite;

}

@keyframes moon{
    from{box-shadow: 1px 1px 38px black;}
    to{box-shadow: 1px 1px 38px red}
}